@import url('https://fonts.googleapis.com/css?family=Raleway:400,500,700,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Overlock&display=swap');
// Requiered
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";

// Added
@import "../node_modules/bootstrap/scss/buttons";
@import "../node_modules/bootstrap/scss/utilities";
@import "../node_modules/bootstrap/scss/alert";
@import "../node_modules/bootstrap/scss/grid";
@import "../node_modules/bootstrap/scss/nav";
@import "../node_modules/bootstrap/scss/transitions";
@import "../node_modules/bootstrap/scss/images";
@import "../node_modules/bootstrap/scss/input-group";
@import "../node_modules/bootstrap/scss/dropdown";


//Custom CSS

//Variables:

//Background
$bg_first: #ffe01b;
$bg_second: #FFF;
$bg_pink: #f9e0fa;
$bg_gray: #f6f6f4;

//Buttons
$btn_primary: #007c89;
$btn_second: #FFF;

//Paddings left and right
$p_primary: 11rem;
$p_secondary: 1.5rem;
$p_botTop: 7.5rem;

//
body{
    font-family: Raleway,Helvetica Neue,Helvetica,Arial,Verdana,sans-serif;
    margin: 0 !important;
}

.bg-yellow, .bg-white, .bg-pink, .bg-gray{
    padding-right: $p_primary/2;
    padding-left: $p_primary/2;
    padding-top: $p_botTop/2;
    padding-bottom: $p_botTop/2;
    @include media-breakpoint-up(lg) {
        padding-right: $p_primary;
        padding-left: $p_primary;
        padding-top: $p_botTop;
        padding-bottom: $p_botTop;
    }
}
.bg-gray{
    background-color: $bg_gray;
}
.bg-yellow{
    background-color: $bg_first;
}
.bg-pink{
    background-color: $bg_pink;
}
.bg-white{
    background-color: $bg_second;
}

.pad-l{
    padding-left: $p_primary;
    padding-right: $p_secondary;
}
.pad-r{
    padding-right: $p_primary;
    padding-left: $p_secondary;

}

.pad-l,.pad-r{
    padding-top: $p_botTop;
    padding-bottom: $p_botTop;
}
.marketing-sector{
    display: none;
    z-index: 999;
    top: 30%;
}
.h2-custom,.h2-customl{
    font-family: Overlock,Georgia,Times,Times New Roman,serif;
    color: #241c15;
    font-size: 4rem;
    letter-spacing: -.03125rem;
    line-height: .9;
}

.h6-custom, .h7-custom, .h8-custom{
    color: #241c15;
    font-size: 1.5rem;
    letter-spacing: 0;
    line-height: 1.4;
}
#hoverItem1:hover, #hoverItem2:hover, #hoverItem3:hover{
    transition: opacity 300ms ease-in-out;
}
.h7-custom{
    color: #403b3b;
    font-size: 1.3rem;
    line-height: 1.5;
}
.h8-custom{
    font-size: 1rem;
    line-height: 1;
}
.h3-custom{
    color: #403b3b;
    line-height: 1.35;
    font-size: 2rem;
    text-align: center;
    font-weight: 400;
}
.collapse-h1{
    color: #241c15;
    font-size: 2rem; 
    border: none;
    background-color: transparent;
    outline: none;
    font-family: Raleway,Helvetica Neue,Helvetica,Arial,Verdana,sans-serif;
}
.collapse-p{
    color: #403b3b;
    font-size: 1.5rem; 
    font-family: Overlock,Georgia,Times,Times New Roman,serif;
    line-height: 1.75;
}

.btn{
    border-radius: 0px;
    min-width: 7.5rem;
    padding: .8125rem;
    font-weight: 600;
    font-size: .9375rem;
}
.btn-blue{
    background-color: $btn_primary;
    box-shadow: inset 0 0 0 0.0625rem $btn_primary;
    color: $btn_second;
    padding: 1.25rem 2.3rem;

}

.btn-light{
    width: fit-content;
    background-color: transparent;
    box-shadow: inset 0 0 0 0.0625rem rgba(0,124,137,.3);
    color: $btn_primary;
    font-size: .9375rem;
    padding: 1.25rem 2.5rem;
}
.btn-light:hover{
    background: transparent;
    border-color: #241c15;
    color: $btn_primary;
}

.a-dec,.footer-dec{
    -webkit-appearance: none;
    background: none;
    border: none;
    color: $btn_primary;
    font-weight: 500;
    cursor: pointer;
    font-size: 1.2rem;
    padding-left: 0;
    padding-right: 0;
}
.gray-dec{
    color: rgba(36,28,21,0.65);
}
a, a:hover {
    text-decoration: none;
}
input {
    outline-color: $btn_primary;
}

.signup-list li::before{
    content: "";
    display: inline-block;
    width: 8px;
    height: 8px;
    margin-right: 10px;
    border-radius: 8px;
    background: #007c89;

}
.signup-list li{
    list-style: none;
    font-size: smaller;
}
//Navigation
.nav{
    padding-top: 1.5rem;
    padding-left: 5.25rem;
    padding-right: 5.25rem;
    background-color: $bg_first;
    transition: background-color 200ms linear;
    border-bottom: 1px solid transparent;
    transform-origin: 50% 0;
    
}
.nav:hover{
    background-color: $bg_second !important;
    transition: background-color 200ms linear;
    border-bottom: 1px solid $bg_gray;
}
.nav-link{
    color: #241c15;
    font-size: .9375rem;
    font-weight: 400;
    position: relative;
}
.nav-link:hover{
    color: $btn_primary;
}
.dropdown-item-a{
    color: $btn_primary;
}
.dropdown-item-a:hover{
    color: #241c15;
}
.dropdown-item-image-text:hover{
    cursor: pointer;
    span{
        color: #241c15;

    }
}
.dropdown { 
    position: static !important; 
} 
  
.dropdown-menu { 
    margin-top: 1rem !important;
    border: 0px solid transparent !important;
    width: 100% !important; 
} 
.nav.scrolled {
    background-color: transparent !important;
    transition: background-color 200ms linear;
    border-bottom: 1px solid transparent;

    .scroll{
        visibility: hidden;
        opacity: 0;
        transition: visibility 200ms linear, opacity 200ms linear;
    }
}
.nav.scrolled:hover{
    background-color: $bg_second !important;
    border-bottom: 1px solid $bg_gray;

    .scroll{
        visibility: visible;
        opacity: 1;
        transition: visibility 200ms linear, opacity 200ms linear;
    }
}
.svg-logo{
    &__head{
        &__blink{
            opacity: 0;
        }
        &__eye{
            opacity: 1;
        }
    }
}
.svg-logo:hover{
    .svg-logo__head{
        animation-duration: .5s;
        animation-name: moveHead;

        &__blink{
            animation-duration: .5s;
            animation-name: blinkEye;
        }
        &__eye{
            animation-duration: .5s;
            animation-name: blinkEyeReverse;
        }
    }
}
//Sections

//Footer
.footer-list-item, .footer-list-header{
    padding-top: 0rem;
    padding-bottom: .5rem;
    line-height: 1;
    color: #403b3b;
    padding-left: 1.4rem;
    text-decoration: none;
    font-size: .8rem;
}
.footer-list-header{
    font-size: 1rem;
    padding-bottom: .1rem !important;
}
.footer-list-item:hover{
    color: #007c89;
}
.footer-txt{
    font-size: .7rem;
    text-align: center;
}
.footer-dec{
    font-size: .9rem;
}
.footer-info{
    font-size: 1rem;
    color: #403b3b;
}
.w-33{
    width: 100%;
    @include media-breakpoint-up(lg) {
        width: 33.3%;
    }
}
.w-20{
    width: 100%;
    @include media-breakpoint-up(lg) {
        width: 20%;
    }
}


/*Animations*/
@keyframes moveHead {
    from {transform: rotate(0deg);}
    50%{transform: rotate(-5deg);}
    to {transform: rotate(0deg);}
}
@keyframes blinkEye {
    from {opacity: 0;}
    50%{opacity: 1;}
    to {opacity: 0;}
}
@keyframes blinkEyeReverse {
    from {opacity: 1;}
    50%{opacity: 0;}
    to {opacity: 1;}
}